NODE_ENV=development
PORT=3000
API_PREFIX=api/v1

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgrespassword
DB_NAME=task_pm_system
DB_SYNCHRONIZE=false
DB_LOGGING=false

JWT_ACCESS_SECRET=njkacbicOY&%RDCJCVUI7567FYVUFVUST721EHcabv7qyf2ifbjavuy38rhivosd
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=jbibvsg78g3bug6R$%^FTHVY7W2VHVDI7ctsgu8ahbHVQIBVUGSDIVEWG78tdrt7wrv2
JWT_REFRESH_EXPIRES_IN=7d

BCRYPT_SALT_ROUNDS=12
FAILED_LOGIN_LOCK_THRESHOLD=5
FAILED_LOGIN_LOCK_MINUTES=15

MAX_UPLOAD_FILE_SIZE_MB=25
CORS_ORIGIN=http://localhost:3001
