NODE_ENV=development
PORT=3000
API_PREFIX=api/v1

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=task_pm_system

DB_SYNCHRONIZE=false
DB_LOGGING=true

JWT_ACCESS_SECRET=njkacbicOY&%RDCJCVUI7567FYVUFVUST721EHcabv7qyf2ifbjavuy38rhivosd
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=jbibvsg78g3bug6R$%^FTHVY7W2VHVDI7ctsgu8ahbHVQIBVUGSDIVEWG78tdrt7wrv2
JWT_REFRESH_EXPIRES_IN=60d

BCRYPT_SALT_ROUNDS=12
FAILED_LOGIN_LOCK_THRESHOLD=5
FAILED_LOGIN_LOCK_MINUTES=15

MAX_UPLOAD_FILE_SIZE_MB=25
CORS_ORIGIN=http://localhost:3001

# ── Mail (SMTP) ─────────────────────────────────────
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=sandysmith4490@gmail.com
MAIL_PASS=mijamdmazqvdreus
MAIL_FROM="DMS <sandysmith4490@gmail.com>"
